{{#section 'header'}}
    <title>LayerTech</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/login.css">
{{/section}}

<div>
    <p>Hello World</p>
    <p>Pizza Mozzarella</p>
</div>

